* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background: whitesmoke;
}

.errorMessage {
  color: crimson;
}

.mallet-preview {
  margin-top: 2em;
}

.mallet-preview > img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}